{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post">

        <h1 class='govuk-heading-l'>
          Application {{ data['find'] | upper }} found
        </h1>

        <p class="govuk-body-l">You cannot remove this application, it is in progress.</p>

				<p>Raise a PAS note but do not sign it off. This will stop the application in progress being marked off.</p>

        <!-- <p class=" govuk-!-margin-top-9"><a href="find" class="govuk-link--no-visited-state">Find another application</a></p> -->


<!-- post back to find - and clear data -->
        {{ govukButton({
          text: 'Find another application',
          classes : 'govuk-!-margin-top-9'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
