{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: 'Request submitted',
        html: '<strong>'+data['find'] | upper+'</strong> will be sent to workflow'
      }) }}

      <p>It may take up to an hour to appear in workflow.</p>

      <p class=" govuk-!-margin-top-9"><a href="find" class="govuk-link--no-visited-state">Find another application</p>

    </div>
  </div>

{% endblock %}
