{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: 'There is a problem',
          errorList: [
            {
              text: error,
              href: '#find-error'
            }
          ]
        }) }}
      {% endif %}




      <form method="post">

        <h1 class='govuk-heading-l'>
          Find application
        </h1>

        {{ govukInput({
          id: 'find',
          name: 'find',
          classes: 'govuk-input--width-20',
          value: data['find'],
          errorMessage: {
            text: error
          } if error,
          label: {
            html: 'Enter the application&rsquo;s Application Barcode Reference (ABR)',
            classes: '',
            isPageHeading: ''
          },
          hint: {
            html: 'For example, &lsquo;A123&rsquo;'
          }
        }) }}

        {{ govukButton({
          text: 'Find application'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
