{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Removal being processed
      </h1>

      <p>{{ data['find'] }} will be moved to the {{ data['team'] }} team in the {{ data['office'] }} but could take some time, check the queue and do not resubmit the request.</p>

      <p class=" govuk-!-margin-top-9"><a href="find" class="govuk-link--no-visited-state">Find another application</p>

    </div>
  </div>

{% endblock %}
