{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        About
        <span class="govuk-visually-hidden">{{ serviceName }}</span>
      </h1>
      <p class="govuk-hint">Prototype for a tool that allows users of Application Processing (AP) to find and remove applications that have not been started.</p>


      <h2 class="govuk-heading-l">Version 4 - design complete</h2>

      <p>Design by Andy Porter, Mo Rowlands, Feb 2022</p>
  
    	<h3 class="govuk-heading-m">Updated to:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>remove picking an office and e-serv queue</li>
        <li>inform users more clearly whats happening, now the office and queue choices have gone</li>
        <li>making the content clearer, in general (initially this tool was needed quickly and for an interim period, but will be around for at least another year)</li>
      </ul>

      {{ govukButton({
        text: 'View prototype',
        href: 'v4/find'
      }) }}

      <h3 class="govuk-heading-m">example data to use</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>A123XYZ can be removed</li>
        <li>B123XYZ cannot be removed</li>
        <li>any other entry results in a no match error</li>
        <li>blank shows an error message</li>
      </ul>


      <h3 class="govuk-heading-s">All the pages in the tool:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v4/find">find - find an application by Application Barcode Reference (ABR)</a>
        	<p class="govuk-!-margin-top-3 govuk-!-margin-bottom-2">error messages:</p>
        	<ul class="govuk-list govuk-list--bullet">
        		<li><a href="/v4/find?find=%20">no ABR provided</a> - use blank</li>
        		<li><a href="/v4/find?find=noABRinAP">no application with this ABR in AP</a> - use a random value</li>
        	</ul>
        </li>
        <li><a href="/v4/can-remove?find=A123">can-remove - result page for we can remove from AP</a></li>
        <li><a href="/v4/cant-remove?find=C123">cant-remove - result page for we cannot application remove from AP</a> - as it is in progress</li>
        <li><a href="/v4/confirmation?find=A123">confirmation - confirmation its been sent to workflow</a></li>
        <li><a href="/v4/error">error - if there is a problem with the tool</a></li>
      </ul>


			<h3 class="govuk-heading-s">Questions addressed</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>How quickly does the application appear in workflow?
        	<br>Answer: a few minutes
        </li>
        <li>What queue does it go to in workflow... could we be clearer than just saying - the application will appear in workflow
        	<br>Answer: we've not been able to come up with a better form of words
        </li>
        <li>What should caseworkers do if the application can't be removed - as it's in progress.
        	<br>Answer: create a stand-alone PAS note to stop an application being marked off
        </li>
        <li>Are there other pages/content in the production version that don't appear in this prototype, that we need to address?  We noticed some differences between screenshots sent by email, and this prototype.
        	<br>Answer: No - After asking, no one has said yes
        </li>
        <li>What do we know about current user behaviour using the tool?
        	<br>Answer: there's been no research with people using the tool.  We've learnt Workflow has a search ABR function so people can find the application immediately after removing it
        </li>
      </ul>

      <p><a href="https://hmlandregistry.atlassian.net/browse/OM-888">Jira ticket for work to implement v4 design</a></p>




      {% set v3 %}

	      <h2 class="govuk-heading-m">Version 3</h2>
	      <p class="govuk-!-margin-bottom-1">Updated to:</p>
	      <ul class="govuk-list govuk-list--bullet">
	        <li>remove the status from applications that can be removed</li>
	        <li>show a new completion page that does not confirm removal</li>
	        <li>show minor content changes</li>
	      </ul>

	      <p class="govuk-!-margin-bottom-1">Find options in the prototype:</p>
	      <ul class="govuk-list govuk-list--bullet">
	        <li>A123XYZ can be removed</li>
	        <li>B123XYZ cannot be removed</li>
	        <li>any other entry results in a no match error</li>
	        <li>blank shows an error message</li>
	      </ul>

	      {{ govukButton({
	        text: 'View prototype',
	        href: 'v3/find'
	      }) }}

      {% endset %}


      {% set v2 %}
        <p class="govuk-!-margin-bottom-1">Updated to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove the status from applications that can be removed</li>
          <li>show a new completion page that does not confirm removal</li>
        </ul>

        <p class="govuk-!-margin-bottom-1">Find options in the prototype:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>A123 can be removed and shows a positive confirmation (this currently won&rsquo;t be developed)</li>
          <li>B123 can be removed and does not tell the if it has been successful</li>
          <li>C123 is an application that cannot be removed</li>
          <li>any other entry results in a no match error</li>
          <li>blank shows an error message</li>
        </ul>

        {{ govukButton({
          text: 'View prototype',
          href: 'v2/find'
        }) }}
      {% endset %}

      {% set v1 %}
        <p>Inital mockup based on conversations with AJ, Emily, and Warren.</p>

        <p class="govuk-!-margin-bottom-1">Allows users to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>find an application by Application Barcode Reference (ABR)</li>
          <li>view the status of the application</li>
          <li>choose a location and team to assign to if the application has not been started</li>
        </ul>

        <p class="govuk-!-margin-bottom-1">Find options in the prototype:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ABC123456 is an application that can be removed</li>
          <li>654321CBA is an application that cannot be removed</li>
          <li>any other entry results in a no match error</li>
          <li>blank shows an error message</li>
        </ul>

        {{ govukButton({
          text: 'View prototype',
          href: 'v1/find'
        }) }}

      {% endset %}


      <h2 class="govuk-heading-l">Previous versions</h2>

      {{ govukAccordion({
        items: [
        	{
            heading: { text: 'Version 3' },
            content: { html: v3 }
          },
          {
            heading: { text: 'Version 2' },
            content: { html: v2 }
          },
          {
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}


    </div>



    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items govuk-!-margin-top-7" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Resources for design
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://remove-from-ap.herokuapp.com/">
                Heroku app (opens in new tab)
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://github.com/LandRegistry/remove-applications-from-ap">
                GitHub repo (opens in new tab)
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
